
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #f77f00);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* UT Sports inspired styles */
.ut-hero {
  background-color: #f77f00;
  position: relative;
  overflow: hidden;
}

.ut-hero::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  background-color: #58595b;
}

.checkerboard-pattern {
  background-image: linear-gradient(45deg, #f77f00 25%, transparent 25%),
    linear-gradient(-45deg, #f77f00 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #f77f00 75%),
    linear-gradient(-45deg, transparent 75%, #f77f00 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

